<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcq.dorm.mapper.ItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qcq.dorm.entity.Item">
        <id column="id" property="id" />
        <result column="dorm_id" property="dormId" />
        <result column="name" property="name" />
        <result column="is_broken" property="isBroken" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, dorm_id AS dormId, name, is_broken AS isBroken
    </sql>

</mapper>
